@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-card-title {
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
  background: rgb(233, 233, 233);
  background: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0%,
    rgba(243, 242, 243, 1) 100%
  );
}

.profile-card-position {
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
  background: rgb(255, 90, 92);
  background: linear-gradient(
    90deg,
    rgba(255, 90, 92, 1) 0%,
    rgba(206, 111, 253, 1) 100%
  );
}
